#pgthumbs {
    padding: 0;
}

.pgthumb.black_white {
    max-width: none;
    margin: 0;
    overflow: hidden;
}

.black_white img {
    max-width: none;
    width: 100%;
    display: block;
    position: relative;
}

.black_white-overlay {
    left: 0;
    outline: 0 solid transparent;
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(0, 136, 204, 0.3);
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    border: 15px solid rgba(0, 136, 204, 0.8);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.black_white:hover .black_white-overlay {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.black_white .effect3 {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.black_white .black_white-info h3 {
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.black_white:hover .black_white-info h3 {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s linear 0.3s;
    -moz-transition: all 0.3s linear 0.3s;
    -ms-transition: all 0.3s linear 0.3s;
    -o-transition: all 0.3s linear 0.3s;
    transition: all 0.3s linear 0.3s;
    opacity: 1;
}

.black_white .black_white-info a {
    background: transparent;
    box-shadow: none;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: block;
    padding: 0 15px;
    opacity: 1;
    height: 100%;
}

.black_white .black_white-info {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.black_white .black_white-info span {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.black_white:hover .black_white-info a {
    opacity: 0;
}

.pgablack_white a {
    /*padding:0;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.black_white img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.black_white:hover img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

div .plusgallery .pgalbumlink {
    padding: 0;
}

div .pgalbumtitle {
    bottom: 0;
    left: 0;
    width: 100%;
}

.black_white .info-title {
    position: absolute;
    padding: 22px 15px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.black_white .info-title h3 {
    color: #252525;
    margin: 0;
}

.black_white:hover .info-title {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.black_white img {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.black_white:hover img {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.black_white:hover .black_white-info {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}